.animation{
    animation-name: appearanceofNewTask, opacity;
    animation-duration: 2s, 3s;
}

@keyframes appearanceofNewTask{
    from {
        transform: translateX(200%);
      }
    
      to {
        transform: translateX(0%);
      }
}

@keyframes opacity{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}